.container-cards {
    padding   : 24px 0px;
    min-height: calc(100vh - 55px);
}

.container-loading-or-fail {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
}


.text-error {
    font-weight: 600;
    font-size  : 14px;
    margin     : 15px 0px;
    color      : #c9c9c9;
    font-family: sans-serif;
}